.cisl-tick-minor,
.cisl-tick-major {
    transform-box: fill-box;
    transform-origin: bottom center;
}
.cisl-break-major {
    transform-box: fill-box;
    transform-origin: center;
    text-anchor: middle;
    text-align: center;
    dominant-baseline: middle;
    font-family: monospace, monospace;
    outline: none !important;
}
.cisl-label {
    position: absolute;
    transform-box: fill-box;
    transform-origin: bottom center;
    text-align: center;
    font-family: monospace, monospace;
    outline: none !important;
}
.cisl-rails {
    outline: none !important;
}
.cisl-bar {
    transform-box: fill-box;
    transform-origin: center;
    outline: none !important;
}
.cisl-handle {
    position: absolute;
    transform-box: fill-box;
    transform-origin: center;
    outline: none !important;
}

.cisl--style.cisl-tick-minor {
    height: 10;
    width: 2;
    fill: lightgray;
}
.cisl--style.cisl-tick-major {
    height: 20;
    width: 4;
    fill: lightgray;
}
.cisl--style.cisl-label {
    padding: 2px;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}
.cisl--style.cisl-rails-border {
    stroke-width: 22;
    stroke: darkgray;
}
.cisl--style.cisl-rails {
    stroke-width: 20;
    stroke: lightgray;
}
.cisl--style.cisl-bar {
    stroke-width: 22;
    stroke: black;
}
.cisl--style.cisl-handle {
    fill: blue;
    rx: 10;
    height: 30;
    width: 30;
}
